{"swagger":"2.0","basePath":"\/v1","externalDocs":{"description":"Documentations","url":"https:\/\/docs.rdash.id"},"host":"api.rdash.id","info":{"description":"Open API for Domain Reseller. This API authentication with <b>Basic Auth<\/b>. Please generate API key in the dashboard reseller for access this API","title":"Domain Reseller Open API","version":"1.5.0"},"paths":{"\/account\/profile":{"get":{"deprecated":false,"description":"Get reseller profile","operationId":"AccountProfile","responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ProfileResponse"}}},"summary":"Get Reseller Profile","tags":["accounts"]}},"\/account\/balance":{"get":{"deprecated":false,"description":"Get balance amount","operationId":"AccountBalance","responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/BalanceResponse"}}},"summary":"Get Balance Amount","tags":["accounts"]}},"\/account\/prices":{"get":{"deprecated":false,"description":"Get list all domain prices","operationId":"AccountPrice","parameters":[{"description":"Filter by domain extension. Example: .co.id","in":"query","name":"domainExtension[extension]","required":false,"type":"string"},{"description":"Filter by domain promotion","enum":[false,true],"in":"query","name":"promo","required":false,"type":"boolean"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/PricesResponse"}}},"summary":"List All Product Prices","tags":["accounts"]}},"\/account\/prices\/{price_id}":{"get":{"deprecated":false,"description":"Return domain prices details by price id","operationId":"AccountPriceShow","parameters":[{"description":"Price Id","in":"path","name":"price_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/PriceDetailResponse"}}},"summary":"Show Detail Product Price","tags":["accounts"]}},"\/account\/transactions":{"get":{"deprecated":false,"description":"Return list all transactions by matching query parameters","operationId":"AccountTransaction","parameters":[{"description":"Filter by transaction type","enum":["deposit","domain","ssl","object-storage","note"],"in":"query","name":"transaction","required":false,"type":"string"},{"description":"Filter by transaction description","in":"query","name":"description","required":false,"type":"string"},{"description":"Filter by domain extension \/ tld","in":"query","name":"tld","required":false,"type":"string"},{"description":"Filter by amount range (min-max \/ 10000-200000)","in":"query","name":"amount_range","required":false,"type":"string"},{"description":"Filter by date range (min_max \/ yyyy-mm-dd_yyyy-mm-dd)","in":"query","name":"date_range","required":true,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/TransactionsResponse"}}},"summary":"List All Transactions","tags":["accounts"]}},"\/account\/transactions\/{transaction_id}":{"get":{"deprecated":false,"description":"Return transaction details by transaction id","operationId":"AccountTransactionShow","parameters":[{"description":"Transaction Id","in":"path","name":"transaction_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/TransactionDetailResponse"}}},"summary":"Show Detail Transaction","tags":["accounts"]}},"\/customers":{"get":{"deprecated":false,"description":"Return list all customer by matching query parameters","operationId":"ShowAll","parameters":[{"description":"Customer name","in":"query","name":"name","required":false,"type":"string"},{"description":"Customer email","in":"query","name":"email","required":false,"type":"string"},{"description":"Customer organization","in":"query","name":"organization","required":false,"type":"string"},{"description":"Customer city","in":"query","name":"city","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/CustomerListResponse"}}},"summary":"List All","tags":["customers"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Create a new customer account","operationId":"Create","parameters":[{"description":"Customer name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Customer email","in":"formData","name":"email","required":true,"type":"string"},{"description":"Customer password | min: 6 character","in":"formData","name":"password","required":true,"type":"string"},{"description":"Customer password confirmation","in":"formData","name":"password_confirmation","required":true,"type":"string"},{"description":"Customer organization","in":"formData","name":"organization","required":true,"type":"string"},{"description":"Customer street 1","in":"formData","name":"street_1","required":true,"type":"string"},{"description":"Customer street 2","in":"formData","name":"street_2","type":"string"},{"description":"Customer city","in":"formData","name":"city","required":true,"type":"string"},{"description":"Customer state","in":"formData","name":"state","required":true,"type":"string"},{"description":"Customer country code as per ISO 3166-1 alpha-2","in":"formData","name":"country_code","required":true,"type":"string"},{"description":"Customer postal code","in":"formData","name":"postal_code","required":true,"type":"string"},{"description":"Customer phone number | min: 9 | max: 20","in":"formData","name":"voice","required":true,"type":"string"},{"description":"Customer fax number","in":"formData","name":"fax","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/CustomerCreateResponse"}},"422":{"description":"Validation error (invalid or missing fields)","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"The password confirmation and password must match.","errors":{"password_confirmation":["The password confirmation and password must match."]}}}}},"summary":"Create","tags":["customers"]}},"\/customers\/{customer_id}":{"delete":{"deprecated":false,"description":"Delete customer by customer id, if the customer does not have any transactions.","operationId":"DeleteCustomer","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/CustomerDeleteResponse"}}},"summary":"Delete","tags":["customers"]},"get":{"deprecated":false,"description":"Return customer details by customer id","operationId":"ShowCustomer","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/CustomerShowResponse"}}},"summary":"Show","tags":["customers"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update customer details by customer id","operationId":"Update","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Customer name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Customer email","in":"formData","name":"email","required":true,"type":"string"},{"description":"Customer password | min: 6 character","in":"formData","name":"password","required":true,"type":"string"},{"description":"Customer password confirmation","in":"formData","name":"password_confirmation","required":true,"type":"string"},{"description":"Customer organization","in":"formData","name":"organization","required":true,"type":"string"},{"description":"Customer street 1","in":"formData","name":"street_1","required":true,"type":"string"},{"description":"Customer street 2","in":"formData","name":"street_2","type":"string"},{"description":"Customer city","in":"formData","name":"city","required":true,"type":"string"},{"description":"Customer state","in":"formData","name":"state","required":true,"type":"string"},{"description":"Customer country code as per ISO 3166-1 alpha-2","in":"formData","name":"country_code","required":true,"type":"string"},{"description":"Customer postal code","in":"formData","name":"postal_code","required":true,"type":"string"},{"description":"Customer phone number | min: 9 | max: 20","in":"formData","name":"voice","required":true,"type":"string"},{"description":"Customer fax number","in":"formData","name":"fax","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/CustomerShowResponse"}}},"summary":"Update","tags":["customers"]}},"\/customers\/{customer_id}\/contacts":{"get":{"deprecated":false,"description":"Return all customer contact by customer id with matching query parameters","operationId":"GetShowAllContact","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Contact name","in":"query","name":"name","required":false,"type":"string"},{"description":"Contact email","in":"query","name":"email","required":false,"type":"string"},{"description":"Contact organization","in":"query","name":"organization","required":false,"type":"string"},{"description":"Contact city","in":"query","name":"city","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ContactListResponse"}}},"summary":"List All","tags":["contacts"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Create new contact specific by customer id","operationId":"CreateContact","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Contact label","enum":["Default","Admin","Technical","Billing","Registrant"],"in":"formData","name":"label","required":true,"type":"string"},{"description":"Contact name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Contact email","in":"formData","name":"email","required":true,"type":"string"},{"description":"Contact organization","in":"formData","name":"organization","required":true,"type":"string"},{"description":"Contact street 1","in":"formData","name":"street_1","required":true,"type":"string"},{"description":"Contact street 2","in":"formData","name":"street_2","type":"string"},{"description":"Contact city","in":"formData","name":"city","required":true,"type":"string"},{"description":"Contact state","in":"formData","name":"state","required":true,"type":"string"},{"description":"Contact country Code as per ISO 3166-1 alpha-2","in":"formData","name":"country_code","required":true,"type":"string"},{"description":"Contact postal code","in":"formData","name":"postal_code","required":true,"type":"string"},{"description":"Contact phone number | min: 9 | max: 20","in":"formData","name":"voice","required":true,"type":"string"},{"description":"Contact fax number","in":"formData","name":"fax","type":"string"},{"description":"You can add reference domain name for this contact. Ex: 'example.com'","in":"formData","name":"reference","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ContactCreateResponse"}},"422":{"description":"Validation error (invalid or missing fields)","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"The name field is required.","errors":{"name":["The name field is required."]}}}}},"summary":"Create","tags":["contacts"]}},"\/customers\/{customer_id}\/contacts\/{contact_id}":{"delete":{"deprecated":false,"description":"Delete contact by customer id and contact id, if the contact does not have related with active domain.","operationId":"DeleteContact","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Contact Id","in":"path","name":"contact_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ContactDeleteResponse"}}},"summary":"Delete","tags":["contacts"]},"get":{"deprecated":false,"description":"Return contact details by customer id and contact id","operationId":"GetShowContact","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Contact Id","in":"path","name":"contact_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ContactShowResponse"}}},"summary":"Show","tags":["contacts"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update contact details by customer id and contact id","operationId":"UpdateContact","parameters":[{"description":"Customer Id","in":"path","name":"customer_id","required":true,"type":"integer"},{"description":"Contact Id","in":"path","name":"contact_id","required":true,"type":"integer"},{"description":"Contact label","enum":["Default","Admin","Technical","Billing","Registrant"],"in":"formData","name":"label","required":true,"type":"string"},{"description":"Contact name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Contact email","in":"formData","name":"email","required":true,"type":"string"},{"description":"Contact organization","in":"formData","name":"organization","required":true,"type":"string"},{"description":"Contact street 1","in":"formData","name":"street_1","required":true,"type":"string"},{"description":"Contact street 2","in":"formData","name":"street_2","type":"string"},{"description":"Contact city","in":"formData","name":"city","required":true,"type":"string"},{"description":"Contact state","in":"formData","name":"state","required":true,"type":"string"},{"description":"Contact country Code as per ISO 3166-1 alpha-2","in":"formData","name":"country_code","required":true,"type":"string"},{"description":"Contact postal code","in":"formData","name":"postal_code","required":true,"type":"string"},{"description":"Contact phone number | min: 9 | max: 20","in":"formData","name":"voice","required":true,"type":"string"},{"description":"Contact fax number","in":"formData","name":"fax","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/ContactShowResponse"}}},"summary":"Update","tags":["contacts"]}},"\/domains":{"get":{"deprecated":false,"description":"Return list all domain by matching query parameters","operationId":"GetShowAllDomain","parameters":[{"description":"Customer Id","in":"query","name":"customer_id","required":false,"type":"integer"},{"description":"Domain name","in":"query","name":"name","required":false,"type":"string"},{"description":"Domain status: 0. Pending, 1. Active, 2. Expired, 3. Pending Delete, 4. Deleted, 5. Pending Transfer, 6. Transferred Away, 7. Suspended, 8. Rejected","enum":[0,1,2,3,4,5,6,7,8],"in":"query","name":"status","required":false,"type":"integer"},{"description":"Domain verification status: 0. Waiting, 1. Verifying, 2. Document Validating, 3. Active","enum":[0,1,2,3],"in":"query","name":"verification_status","required":false,"type":"integer"},{"description":"Domain with required document: 0. False, 1. True","enum":[0,1],"in":"query","name":"required_document","required":false,"type":"integer"},{"description":"Domain created between two date (min_max \/ yyyy-mm-dd_yyyy-mm-dd)","in":"query","name":"created_range","required":false,"type":"string"},{"description":"Domain expired between two date (min_max \/ yyyy-mm-dd_yyyy-mm-dd)","in":"query","name":"expired_range","required":false,"type":"string"},{"default":"id","description":"Field to order","in":"query","name":"f_params[orderBy][field]","required":false,"type":"string"},{"default":"asc","description":"Order type","enum":["asc","desc"],"in":"query","name":"f_params[orderBy][type]","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainListResponse"}}},"summary":"List All","tags":["domains"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Register new domain name","operationId":"Register","parameters":[{"description":"Domain name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Period registration in year","in":"formData","name":"period","required":true,"type":"integer"},{"description":"Customer id","in":"formData","name":"customer_id","required":true,"type":"integer"},{"description":"Nameserver 1","in":"formData","name":"nameserver[0]","type":"string"},{"description":"Nameserver 2","in":"formData","name":"nameserver[1]","type":"string"},{"description":"Nameserver 3","in":"formData","name":"nameserver[2]","type":"string"},{"description":"Nameserver 4","in":"formData","name":"nameserver[3]","type":"string"},{"description":"Nameserver 5","in":"formData","name":"nameserver[4]","type":"string"},{"description":"Buy whois protection","in":"formData","name":"buy_whois_protection","type":"boolean"},{"description":"Include buy premium or limited character","in":"formData","name":"include_premium_domains","type":"boolean"},{"description":"Buy proxy for specific domain extension","in":"formData","name":"buy_proxy","type":"boolean"},{"description":"This is optional field, if not provided, contact will be created automatically from customer data","in":"formData","name":"registrant_contact_id","type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainRegisterResponse"}},"422":{"description":"Validation error","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"The given data was invalid","errors":{"period":["The period may not be greater than 10."],"customer_id":["The customer id is not exist."]}}}}},"summary":"Register","tags":["domains"]}},"\/domains\/availability":{"get":{"deprecated":false,"description":"Check domain availability by domain name","operationId":"Availability","parameters":[{"description":"Domain name","in":"query","name":"domain","required":true,"type":"string"},{"description":"Check availability for premium or limited character domain","in":"query","name":"include_premium_domains","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainAvailabilityResponse"}}},"summary":"Availability","tags":["domains"]}},"\/domains\/details":{"get":{"deprecated":false,"description":"Get domain details by domain name","operationId":"ShowDetailsDomain","parameters":[{"description":"Domain Name","in":"query","name":"domain_name","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainDetailResponse"}}},"summary":"Show details by domain name","tags":["domains"]}},"\/domains\/transfer":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Transfer in domain name from other registrar","operationId":"Transfer","parameters":[{"description":"Domain name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Auth code \/ EPP code from other registrar","in":"formData","name":"auth_code","required":true,"type":"string"},{"description":"Period transfer in year","in":"formData","name":"period","required":true,"type":"integer"},{"description":"Customer id","in":"formData","name":"customer_id","required":true,"type":"integer"},{"description":"Nameserver 1","in":"formData","name":"nameserver[0]","type":"string"},{"description":"Nameserver 2","in":"formData","name":"nameserver[1]","type":"string"},{"description":"Nameserver 3","in":"formData","name":"nameserver[2]","type":"string"},{"description":"Nameserver 4","in":"formData","name":"nameserver[3]","type":"string"},{"description":"Nameserver 5","in":"formData","name":"nameserver[4]","type":"string"},{"description":"Buy whois protection","in":"formData","name":"buy_whois_protection","type":"boolean"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainTransferResponse"}}},"summary":"Transfer","tags":["domains"]}},"\/domains\/whois":{"get":{"deprecated":false,"description":"Check whois domain info by domain name","operationId":"Whois","parameters":[{"description":"Domain name","in":"query","name":"domain","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainWhoisResponse"}}},"summary":"Whois","tags":["domains"]}},"\/domains\/{domain_id}":{"delete":{"deprecated":false,"description":"Delete domain by domain id","operationId":"DeleteDomain","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete","tags":["domains"]},"get":{"deprecated":false,"description":"Return domain details by domain id","operationId":"GetShowDomain","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainDetailResponse"}}},"summary":"Show","tags":["domains"]}},"\/domains\/{domain_id}\/auth_code":{"get":{"deprecated":false,"description":"Get domain auth code by domain id. If response data is 'send_to_email' or 'success', please check your inbox for the auth code.","operationId":"AuthCode","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainAuthCodeResponse"}}},"summary":"Auth Code","tags":["domains"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Change or reset domain auth code by domain id","operationId":"ResetAuthCode","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"New auth code domain must contain min 8 character, at least one letter and one number","in":"formData","name":"auth_code","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Reset Auth Code","tags":["domains"]}},"\/domains\/{domain_id}\/contacts":{"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update contact domain by domain id","operationId":"UpdateContact","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Admin contact id","in":"formData","name":"admin_contact_id","required":true,"type":"integer"},{"description":"Tech contact id","in":"formData","name":"tech_contact_id","required":true,"type":"integer"},{"description":"Billing contact id","in":"formData","name":"billing_contact_id","required":true,"type":"integer"},{"description":"Registrant contact id","in":"formData","name":"registrant_contact_id","required":true,"type":"integer"},{"description":"Customer Id","in":"formData","name":"customer_id","type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainUpdateContactResponse"}}},"summary":"Update Contact","tags":["domains"]}},"\/domains\/{domain_id}\/dns":{"delete":{"deprecated":false,"description":"Delete zone by domain id","operationId":"DeleteZone","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete Zone","tags":["dns"]},"get":{"deprecated":false,"description":"Return all dns record by domain id","operationId":"GetShowDns","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DnsListResponse"}}},"summary":"Show","tags":["dns"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Create dns with default nameserver by domain id. This endpoint will replace all existing record.\n\nFor create single record please use update DNS endpoint.","operationId":"CreateDns","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"DNS record name, ex: www","in":"formData","name":"records[0][name]","required":true,"type":"string"},{"description":"DNS record type, ex: CNAME","enum":["A","AAAA","MXE","MX","CNAME","SPF"],"in":"formData","name":"records[0][type]","required":true,"type":"string"},{"description":"MX: 1 example.com. -> 1 is priority\nSRV: 1 2 443 example.com. -> 1 is priority, 2 is weight, 443 is port","in":"formData","name":"records[0][content]","required":true,"type":"string"},{"description":"Time to live in seconds, default 3600","in":"formData","name":"records[0][ttl]","required":true,"type":"integer"},{"description":"DNS record name, ex: mail","in":"formData","name":"records[1][name]","type":"string"},{"description":"DNS record type, ex: MX","enum":["A","AAAA","MXE","MX","CNAME","SPF"],"in":"formData","name":"records[1][type]","type":"string"},{"description":"MX: 1 example.com. -> 1 is priority\nSRV: 1 2 443 example.com. -> 1 is priority, 2 is weight, 443 is port\nURI: 1 2 example.com -> 1 is priority, 2 is weight","in":"formData","name":"records[1][content]","type":"string"},{"description":"Time to live in seconds, default 3600","in":"formData","name":"records[1][ttl]","type":"integer"},{"description":"DNS record name, ex: _dmarc","in":"formData","name":"records[2][name]","type":"string"},{"description":"DNS record type, ex: SPF","enum":["A","AAAA","MXE","MX","CNAME","SPF"],"in":"formData","name":"records[2][type]","type":"string"},{"description":"MX: 1 example.com. -> 1 is priority\nSRV: 1 2 443 example.com. -> 1 is priority, 2 is weight, 443 is port\nURI: 1 2 example.com -> 1 is priority, 2 is weight","in":"formData","name":"records[2][content]","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DnsSimpleResponse"},"examples":{"application\/json":{"success":true,"data":"","message":"Records added successfully"}}}},"summary":"Create","tags":["dns"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update one DNS record by domain id","operationId":"PutUpdate12","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"DNS record name, ex: www","in":"formData","name":"name","required":true,"type":"string"},{"enum":["A","AAAA","MXE","MX","CNAME","SPF"],"in":"formData","name":"type","required":true,"type":"string"},{"description":"MX: 1 example.com. -> 1 is priority\nSRV: 1 2 443 example.com. -> 1 is priority, 2 is weight, 443 is port","in":"formData","name":"content","required":true,"type":"string"},{"description":"Time to live in seconds, default 3600","in":"formData","name":"ttl","type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DnsSimpleResponse"},"examples":{"application\/json":{"success":true,"data":"","message":"Record updated successfully"}}}},"summary":"Update","tags":["dns"]}},"\/domains\/{domain_id}\/dns\/record":{"delete":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Delete DNS record by domain id","operationId":"DeleteRecord","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"string"},{"description":"DNS record name, ex: www","in":"formData","name":"name","required":true,"type":"string"},{"enum":["A","AAAA","MXE","MX","CNAME","SPF"],"in":"formData","name":"type","required":true,"type":"string"},{"description":"MX: 1 example.com. -> 1 is priority\nSRV: 1 2 443 example.com. -> 1 is priority, 2 is weight, 443 is port","in":"formData","name":"content","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DnsSimpleResponse"},"examples":{"application\/json":{"success":true,"data":"","message":"Record deleted successfully"}}}},"summary":"Delete Record","tags":["dns"]}},"\/domains\/{domain_id}\/dns\/sec":{"delete":{"deprecated":false,"description":"Disable Dnssec to DNS management by domain id","operationId":"DisableDnssec","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Disable Dnssec","tags":["dns"]},"post":{"deprecated":false,"description":"Enable Dnssec to DNS management by domain id","operationId":"EnableDnssec","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Enable Dnssec","tags":["dns"]}},"\/domains\/{domain_id}\/dnssec":{"get":{"deprecated":false,"description":"Return all DNS Sec by domain id","operationId":"ShowDNSSec","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Filter by keytag","in":"query","name":"keytag","required":false,"type":"number"},{"description":"Filter by algorithm","in":"query","name":"algorithm","required":false,"type":"number"},{"description":"Filter by digesttype","in":"query","name":"digesttype","required":false,"type":"number"},{"description":"Filter by digest","in":"query","name":"digest","required":false,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainDnssecListResponse"}}},"summary":"Show DNSSec","tags":["domains"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Add DNS Sec by domain id","operationId":"AddDNSSec","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"0-65535 value range","in":"formData","name":"keytag","required":true,"type":"integer"},{"description":"currently support 3, 5, 6, 7, 8, 10, 12, 13, 14","in":"formData","name":"algorithm","required":true,"type":"integer"},{"description":"1,2","in":"formData","name":"digesttype","required":true,"type":"integer"},{"description":"max. 64 char","in":"formData","name":"digest","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainDnssecAddResponse"}}},"summary":"Add DNSSec","tags":["domains"]}},"\/domains\/{domain_id}\/dnssec\/{dnssec_id}":{"delete":{"deprecated":false,"description":"Delete DNSSec by domain id and DNSSec id","operationId":"DeleteDNSSec","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"DNSSec Id","in":"path","name":"dnssec_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainDnssecDeleteResponse"}}},"summary":"Delete DNSSec","tags":["domains"]}},"\/domains\/{domain_id}\/documents\/link":{"post":{"deprecated":false,"description":"Return get link upload document if domain required document by domain id","operationId":"LinkUploadDocument","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[],"examples":{"application\/json":{"success":true,"data":"http:\/\/subdomain.example.com\/documents\/upload\/va1JJC5Cd5V7EeRLzH4lNGiBBP7BrGHFX8jsjWSn8QYfP","message":"Success"}}}},"summary":"Link Upload Document","tags":["domains"]}},"\/domains\/{domain_id}\/forwarding":{"get":{"deprecated":false,"description":"Return all list domain forwarding by domain id","operationId":"GetShowAllForwarding","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All","tags":["forwarding"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Add or update domain forwarding by domain id","operationId":"CreateOrUpdate","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"@ or subdomain","in":"formData","name":"from","required":true,"type":"string"},{"in":"formData","name":"to","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Create Or Update","tags":["forwarding"]}},"\/domains\/{domain_id}\/forwarding\/{forwarding_id}":{"delete":{"deprecated":false,"description":"Delete domain forwarding by domain id and forwarding id","operationId":"DeleteForwarding","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Forwarding Id","in":"path","name":"forwarding_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete","tags":["forwarding"]}},"\/domains\/{domain_id}\/hosts":{"get":{"deprecated":false,"description":"Return all child nameserver","operationId":"GetShowAllNs","parameters":[{"description":"Domain id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Order field","in":"query","name":"f_params[orderBy][field]","required":false,"type":"string"},{"description":"Order type","enum":["asc","desc"],"in":"query","name":"f_params[orderBy][type]","required":false,"type":"string"},{"description":"Filter by hostname (ex: ns1)","in":"query","name":"hostname","required":false,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/HostListResponse"}}},"summary":"List All","tags":["hosts"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Add child nameserver by domain id","operationId":"CreateNs","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Without domain name: Ex: ns1","in":"formData","name":"hostname","required":true,"type":"string"},{"description":"IP address v4 or v6","in":"formData","name":"ip_address","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/HostCreateResponse"}}},"summary":"Create","tags":["hosts"]}},"\/domains\/{domain_id}\/hosts\/{host_id}":{"delete":{"deprecated":false,"description":"Delete child nameserver by domain id and host id","operationId":"DeleteNs","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Host Id","in":"path","name":"host_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/HostDeleteResponse"}}},"summary":"Delete","tags":["hosts"]},"get":{"deprecated":false,"description":"Return child nameserver detail by domain id and host id","operationId":"GetShowNs","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Host Id","in":"path","name":"host_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/HostShowResponse"}}},"summary":"Show","tags":["hosts"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update child nameserver detail by domain id and host id","operationId":"PutUpdate1","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Host Id","in":"path","name":"host_id","required":true,"type":"integer"},{"description":"without domain name","in":"formData","name":"hostname","type":"string"},{"description":"IP address v4 or v6","in":"formData","name":"ip_address","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/HostUpdateResponse"}}},"summary":"Update","tags":["hosts"]}},"\/domains\/{domain_id}\/locked":{"delete":{"deprecated":false,"description":"Unlock domain if domain locked by domain id","operationId":"Unlocked","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Unlocked","tags":["domains"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Locked domain (clientTransferProhibited) by domain id","operationId":"Locked","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Reason locked domain","in":"formData","name":"reason","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Locked","tags":["domains"]}},"\/domains\/{domain_id}\/move":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Move domain to other customer or other reseller","operationId":"Move","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"New customer Id","in":"formData","minLength":1,"name":"customer_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Move","tags":["domains"]}},"\/domains\/{domain_id}\/ns":{"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Update domain nameserver by domain id","operationId":"UpdateNameserver","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Customer Id","in":"formData","name":"customer_id","type":"integer"},{"description":"Nameserver 1","in":"formData","name":"nameserver[0]","required":true,"type":"string"},{"description":"Nameserver 2","in":"formData","name":"nameserver[1]","required":true,"type":"string"},{"description":"Nameserver 3","in":"formData","name":"nameserver[2]","type":"string"},{"description":"Nameserver 4","in":"formData","name":"nameserver[3]","type":"string"},{"description":"Nameserver 5","in":"formData","name":"nameserver[5]","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainUpdateNameserverResponse"}},"422":{"description":"Validation error","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"The nameserver same value for new and old nameservers.","errors":{"nameserver":["The nameserver same value for new and old nameservers."]}}}}},"summary":"Update Nameserver","tags":["domains"]}},"\/domains\/{domain_id}\/registrar-locked":{"delete":{"deprecated":false,"description":"Remove registrar lock domain by domain id","operationId":"RegistrarUnlocked","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Registrar Unlocked","tags":["domains"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Make domain registrar lock (clientUpdateProhibited, clientDeleteProhibited) by domain id","operationId":"RegistrarLocked","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Reason registrar lock domain","in":"formData","name":"reason","type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Registrar Locked","tags":["domains"]}},"\/domains\/{domain_id}\/renew":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Renew domain","operationId":"Renew","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Period renew in year","in":"formData","maxLength":10,"minLength":1,"name":"period","required":true,"type":"integer"},{"description":"Current expiry date of the order (Y-m-d)","in":"formData","name":"current_date","required":true,"type":"string"},{"description":"Buy whois protection","in":"formData","name":"buy_whois_protection","type":"boolean"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainRenewResponse"}},"422":{"description":"Validation error","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"Expiry date is not correct.","errors":{"current_date":["Expiry date is not correct."]}}}}},"summary":"Renew","tags":["domains"]}},"\/domains\/{domain_id}\/restore":{"post":{"deprecated":false,"description":"Restore domain by domain id","operationId":"Restore","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainRestoreResponse"}}},"summary":"Restore","tags":["domains"]}},"\/domains\/{domain_id}\/suspended":{"delete":{"deprecated":false,"description":"Unsuspend domain if domain suspended by domain id","operationId":"Unsuspended","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Unsuspended","tags":["domains"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Suspend domain by domain id","operationId":"Suspended","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"1. Abuse, 2. Other","in":"formData","name":"type","required":true,"type":"integer"},{"description":"Domain suspend reason","in":"formData","name":"reason","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainSimpleResponse"}}},"summary":"Suspended","tags":["domains"]}},"\/domains\/{domain_id}\/transfer\/cancel":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Cancel domain transfer if domain transfer requested by domain id","operationId":"CancelTransfer","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"},{"description":"Period transfer in year","in":"formData","name":"period","required":true,"type":"integer"},{"description":"Current expiry date of the order (Y-m-d)","in":"formData","name":"current_date","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Cancel Transfer","tags":["domains"]}},"\/domains\/{domain_id}\/verification\/resend":{"post":{"deprecated":false,"description":"Resend email verification domain by domain id","operationId":"ResendVerification","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/DomainResendVerificationResponse"}}},"summary":"Resend Verification","tags":["domains"]}},"\/domains\/{domain_id}\/whois-protection":{"delete":{"deprecated":false,"description":"Disable whois protection by domain id","operationId":"DisableWhoisProtection","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[],"examples":{"application\/json":{"success":true,"data":"Success","message":"Disable whois protection successfully"}}}},"summary":"Disable","tags":["whois protection"]},"get":{"deprecated":false,"description":"Return whois protection","operationId":"ShowWhoisProtection","parameters":[{"description":"Domain id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[],"examples":{"application\/json":{"success":true,"data":{"id":266,"name":"example.com","whois_protection":0,"whois_protection_label":"Inactive","whois_protection_badge":"secondary","whois_protection_allowed":1,"whois_protection_allowed_label":"Active","whois_protection_purchased":0,"whois_protection_purchased_label":"Inactive"},"message":"Success"}}}},"summary":"Show","tags":["whois protection"]},"post":{"deprecated":false,"description":"Buy whois protection by domain id","operationId":"BuyWhoisProtection","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[],"examples":{"application\/json":{"success":true,"data":"Success","message":"Buy whois protection successfully"}}}},"summary":"Buy","tags":["whois protection"]},"put":{"deprecated":false,"description":"Enable whois protection by domain id","operationId":"EnableWhoisProtection","parameters":[{"description":"Domain Id","in":"path","name":"domain_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[],"examples":{"application\/json":{"success":true,"data":"Success","message":"Enable whois protection successfully"}}},"422":{"description":"Validation error","schema":{"$ref":"#\/definitions\/ValidationErrorResponse"},"examples":{"application\/json":{"success":false,"message":"The whois protection is already active","errors":{"domain":["The whois protection is already active"]}}}}},"summary":"Enable","tags":["whois protection"]}},"\/object-storage":{"get":{"deprecated":false,"description":"Return list all object storage by matching query parameters","operationId":"ShowAllObjectStorage","parameters":[{"description":"Object storage name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All Object Storage","tags":["object storage"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Buy a new object storage","operationId":"BuyObjectStorage","parameters":[{"description":"Object storage name","in":"formData","name":"name","required":true,"type":"string"},{"description":"Object storage size in GB","in":"formData","name":"size","required":true,"type":"integer"},{"description":"Object storage billing cycle in month (1-36)","in":"formData","name":"billing_cycle","required":true,"type":"integer"},{"description":"Customer id","in":"formData","name":"customer_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Buy Object Storage","tags":["object storage"]}},"\/object-storage\/{object_storage_id}":{"delete":{"deprecated":false,"description":"Delete or terminate object storage by Id.","operationId":"DeleteObjectStorage","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete Object Storage","tags":["object storage"]},"get":{"deprecated":false,"description":"Return object storage details by id","operationId":"ShowObjectStorage","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Show Object Storage","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/buckets":{"get":{"deprecated":false,"description":"Return object storage bucket by id","operationId":"ShowBucket","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Show Bucket","tags":["object storage"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Create new bucket by id","operationId":"CreateBucket","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Bucket name","in":"formData","name":"name","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Create Bucket","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/buckets\/{bucket}":{"delete":{"deprecated":false,"description":"Delete bucket by name","operationId":"DeleteBucket","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Bucket name","in":"path","name":"bucket","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete Bucket","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/keys":{"get":{"deprecated":false,"description":"Return access key by id","operationId":"ShowAccessKey","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Show Access Key","tags":["object storage"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Create new access key by id","operationId":"CreateAccessKey","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Label access key","in":"formData","name":"label","type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Create Access Key","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/keys\/{key_id}":{"delete":{"deprecated":false,"description":"Delete object storage access key by id","operationId":"DeleteAccessKey","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Access Key Id","in":"path","name":"key_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Delete Access Key","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/renew":{"post":{"deprecated":false,"description":"Renew a object storage","operationId":"RenewObjectStorage","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Renew","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/suspended":{"delete":{"deprecated":false,"description":"Unsuspend if object storage suspended by object storage id","operationId":"UnsuspendedObjectStorage","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Unsuspended","tags":["object storage"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Suspend object storage by id","operationId":"SuspendedObjectStorage","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Object storage suspend reason","in":"formData","name":"reason","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Suspended","tags":["object storage"]}},"\/object-storage\/{object_storage_id}\/upgrade":{"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Upgrade object storage by id","operationId":"Upgrade","parameters":[{"description":"Object storage Id","in":"path","name":"object_storage_id","required":true,"type":"integer"},{"description":"Object storage new size in GB","in":"formData","name":"size","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Upgrade","tags":["object storage"]}},"\/ssl\/":{"get":{"deprecated":false,"description":"Return list all SSL products by matching query parameters","operationId":"ShowAllSslProduct","parameters":[{"description":"SSL product name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All SSL Products","tags":["ssl"]}},"\/ssl\/csr\/generate":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Generate CSR","operationId":"GenerateCSR","parameters":[{"description":"SSL product id","in":"formData","name":"ssl_product_id","required":true,"type":"integer"},{"description":"CSR name or domain name","in":"formData","name":"csr_name","required":true,"type":"string"},{"description":"CSR email","in":"formData","name":"csr_email","required":true,"type":"string"},{"description":"CSR organization","in":"formData","name":"csr_organization","required":true,"type":"string"},{"description":"CSR department","in":"formData","name":"csr_department","required":true,"type":"string"},{"description":"CSR city","in":"formData","name":"csr_city","required":true,"type":"string"},{"description":"CSR state","in":"formData","name":"csr_state","required":true,"type":"string"},{"description":"CSR country","in":"formData","name":"csr_country","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Generate CSR","tags":["ssl"]}},"\/ssl\/orders\/":{"get":{"deprecated":false,"description":"Return list all SSL orders by matching query parameters","operationId":"ShowAllSslOrder","parameters":[{"description":"SSL domain","in":"query","name":"domain","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All SSL Orders","tags":["ssl"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Buy a new SSL","operationId":"BuySsl","parameters":[{"description":"SSL product id","in":"formData","name":"ssl_product_id","required":true,"type":"integer"},{"description":"Customer id","in":"formData","name":"customer_id","required":true,"type":"integer"},{"description":"Domain control validation method. Ex: dns, http, https or email. Wildcard SSL only support dns or email validation method","in":"formData","name":"dcv_method","required":true,"type":"string"},{"description":"Required if dcv_method is email. Ex: admin@example.com, webmaster@example.com","in":"formData","name":"dcv_email","required":false,"type":"string"},{"description":"SSL period in month","in":"formData","name":"period","required":true,"type":"integer"},{"description":"You can use Generate CSR endpoint to get csr code or use your own csr code","in":"formData","name":"csr_code","required":true,"type":"string"},{"description":"Admin first name","in":"formData","name":"admin_firstname","required":true,"type":"string"},{"description":"Admin last name","in":"formData","name":"admin_lastname","required":true,"type":"string"},{"description":"Admin organization","in":"formData","name":"admin_organization","required":true,"type":"string"},{"description":"Admin address","in":"formData","name":"admin_address","required":true,"type":"string"},{"description":"Admin phone","in":"formData","name":"admin_phone","required":true,"type":"string"},{"description":"Admin title","in":"formData","name":"admin_title","required":true,"type":"string"},{"description":"Admin email","in":"formData","name":"admin_email","required":true,"type":"string"},{"description":"Admin city","in":"formData","name":"admin_city","required":true,"type":"string"},{"description":"Admin country. Ex: ID","in":"formData","name":"admin_country","required":true,"type":"string"},{"description":"Admin postal code","in":"formData","name":"admin_postal_code","required":true,"type":"string"},{"description":"Tech first name","in":"formData","name":"tech_firstname","required":true,"type":"string"},{"description":"Tech last name","in":"formData","name":"tech_lastname","required":true,"type":"string"},{"description":"Tech organization","in":"formData","name":"tech_organization","required":true,"type":"string"},{"description":"Tech address","in":"formData","name":"tech_address","required":true,"type":"string"},{"description":"Tech phone","in":"formData","name":"tech_phone","required":true,"type":"string"},{"description":"Tech title","in":"formData","name":"tech_title","required":true,"type":"string"},{"description":"Tech email","in":"formData","name":"tech_email","required":true,"type":"string"},{"description":"Tech city","in":"formData","name":"tech_city","required":true,"type":"string"},{"description":"Tech country. Ex: ID","in":"formData","name":"tech_country","required":true,"type":"string"},{"description":"Tech postal code","in":"formData","name":"tech_postal_code","required":true,"type":"string"},{"description":"Organization name (for OV)","in":"formData","name":"org_name","type":"string"},{"description":"Organization division (for OV)","in":"formData","name":"org_division","type":"string"},{"description":"Organization address (for OV)","in":"formData","name":"org_address","type":"string"},{"description":"Organization city (for OV)","in":"formData","name":"org_city","type":"string"},{"description":"Organization country (for OV). Ex: ID","in":"formData","name":"org_country","type":"string"},{"description":"Organization phone (for OV)","in":"formData","name":"org_phone","type":"string"},{"description":"Organization postal code (for OV)","in":"formData","name":"org_postal_code","type":"string"},{"description":"Organization region (for OV). Ex: Yogyakarta","in":"formData","name":"org_region","type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Order SSL","tags":["ssl"]}},"\/ssl\/orders\/{ssl_order_id}":{"delete":{"deprecated":false,"description":"Cancel or delete SSL order by Id.","operationId":"CancelSSL","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Cancel SSL","tags":["ssl"]},"get":{"deprecated":false,"description":"Return SSL order details by id","operationId":"ShowSsl","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Show SSL","tags":["ssl"]},"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Change SSL validation method by ssl order id","operationId":"ChangeSslValidationMethod","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"},{"description":"SSL validation method. Ex: dns, http, https or email","in":"formData","name":"dcv_method","required":true,"type":"string"},{"description":"Email for validation method email. Ex: admin@example.com, webmaster@example.com","in":"formData","name":"dcv_email","type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Change validation method","tags":["ssl"]}},"\/ssl\/orders\/{ssl_order_id}\/download":{"get":{"deprecated":false,"description":"Download all certificate by id","operationId":"DownloadSsl","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Download SSL","tags":["ssl"]}},"\/ssl\/orders\/{ssl_order_id}\/reissue":{"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Reissue SSL by order id","operationId":"ReissueSSL","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"},{"description":"Csr code","in":"formData","name":"csr_code","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Reissue SSL","tags":["ssl"]}},"\/ssl\/orders\/{ssl_order_id}\/revalidate":{"post":{"deprecated":false,"description":"Revalidate or resend SSL verification by order id","operationId":"RevalidateSSL","parameters":[{"description":"SSL order Id","in":"path","name":"ssl_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Revalidate or Resend SSL Verification","tags":["ssl"]}},"\/ssl\/prices":{"get":{"deprecated":false,"description":"Return list all SSL products with prices by matching query parameters","operationId":"ShowAllSslProductPrice","parameters":[{"description":"SSL product name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All SSL Products with Prices","tags":["ssl"]}},"\/status":{"get":{"deprecated":false,"description":"Get list poll notification filter by action status","operationId":"TransferDomainStatus","parameters":[{"description":"Filter by status: 0. Pending 1. Complete","enum":[1,2],"in":"query","name":"action_status","required":false,"type":"integer"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/PollStatusListResponse"}}},"summary":"List All","tags":["polls"]}},"\/status\/{poll_id}":{"put":{"consumes":["application\/x-www-form-urlencoded"],"deprecated":false,"description":"Acknowledge poll notification by poll Id. This feature will automatically acknowledge after 30 days.","operationId":"AckTransferDomainStatus","parameters":[{"description":"Poll Id of the Poll","in":"path","name":"poll_id","required":true,"type":"integer"},{"description":"Change poll status: 0. Pending 1. Complete","enum":[0,1],"in":"formData","name":"action_status","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","schema":{"$ref":"#\/definitions\/PollAckResponse"}}},"summary":"Acknowledge Poll","tags":["polls"]}},"\/baremetals\/":{"get":{"deprecated":false,"description":"Return list all bare metal products by matching query parameters","operationId":"ShowAllBareMetalProduct","parameters":[{"description":"Bare metal product name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All Bare Metal Products","tags":["bare metal"]}},"\/baremetals\/os\/{bare_metal_product_id}":{"get":{"deprecated":false,"description":"Return list all bare metal products operating systems by matching query parameters","operationId":"ShowAllBareMetalProductOS","parameters":[{"description":"Bare metal product Id","in":"path","name":"bare_metal_product_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List Bare Metal Products OS","tags":["bare metal"]}},"\/baremetals\/prices":{"get":{"deprecated":false,"description":"Return list all bare metal products with prices by matching query parameters","operationId":"ShowAllBareMetalProductPrice","parameters":[{"description":"Bare metal product name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All Bare Metal Products with Prices","tags":["bare metal"]}},"\/baremetals\/orders\/":{"get":{"deprecated":false,"description":"Return list all bare metal orders by matching query parameters","operationId":"ShowAllBareMetalOrder","parameters":[{"description":"Bare metal name","in":"query","name":"name","required":false,"type":"string"},{"default":1,"description":"Page number to be fetched","in":"query","name":"page","required":false,"type":"integer"},{"default":10,"description":"Limit number of datas","in":"query","name":"limit","required":false,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"List All Bare Metal Orders","tags":["bare metal"]},"post":{"consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json","application\/xml"],"deprecated":false,"description":"Order Bare Metal","operationId":"BuyBareMetal","parameters":[{"description":"Bare metal product id","in":"formData","name":"bare_metal_product_id","required":true,"type":"integer"},{"description":"Customer id","in":"formData","name":"customer_id","required":true,"type":"integer"},{"description":"FQDN name. Ex: baremetal.example.com","in":"formData","name":"name","required":true,"type":"string"},{"description":"Bare metal period.","in":"formData","name":"cycle","required":true,"type":"string","enum":["monthly","quarterly","annually"]},{"description":"Operating system. Ex: ubuntu-24, debian12-base","in":"formData","name":"os","required":true,"type":"string"},{"description":"Keypair or your public key. Ex: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3...","in":"formData","name":"keypair","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Order Bare Metal","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}":{"get":{"deprecated":false,"description":"Return bare metal order details by id","operationId":"ShowBareMetal","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Show Bare Metal","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}\/suspend":{"put":{"deprecated":false,"description":"Suspend Bare metal by id","operationId":"SuspendBareMetal","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Suspend Bare Metal","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}\/unsuspend":{"delete":{"deprecated":false,"description":"Unsuspend Bare metal by id","operationId":"UnsuspendBareMetal","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Unsuspend Bare Metal","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}\/state":{"put":{"deprecated":false,"description":"Update state bare metal by id","operationId":"UpdateBareMetalState","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"},{"description":"Bare metal state","in":"formData","name":"state","required":true,"type":"string","enum":["on","off","reset"]}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Update Bare Metal State","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}\/rebuild":{"post":{"deprecated":false,"description":"Rebuild bare metal by id","operationId":"RebuildBareMetal","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"},{"description":"Bare metal os value","in":"formData","name":"os","required":true,"type":"string"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Rebuild Bare Metal OS","tags":["bare metal"]}},"\/baremetals\/orders\/{bare_metal_order_id}\/renew":{"post":{"deprecated":false,"description":"Renew bare metal by id","operationId":"RenewBareMetal","parameters":[{"description":"Bare metal order Id","in":"path","name":"bare_metal_order_id","required":true,"type":"integer"}],"responses":{"200":{"description":"Success response","headers":[]}},"summary":"Renew Bare Metal","tags":["bare metal"]}}},"schemes":["https"],"security":[{"httpBasic":[]}],"securityDefinitions":{"httpBasic":{"description":"Reseller ID and API key you can generate in the dashboard panel.","type":"basic"}},"tags":[{"description":"Manage your account informations","name":"accounts"},{"description":"Create and manage your customers","name":"customers"},{"description":"Create and manage customer contacts","name":"contacts"},{"description":"Register and manage all your domains","name":"domains"},{"description":"Create and manage custom child nameserver for your domains","name":"hosts"},{"description":"Create and manage whois protection for your domains","name":"whois protection"},{"description":"Create and manage domain forwarding","name":"forwarding"},{"description":"Create and manage custom DNS for your domains","name":"dns"},{"description":"List and manage domain transfer notifications","name":"polls"},{"description":"Create and manage SSL","name":"ssl"},{"description":"Create and manage object storage","name":"object storage"},{"description":"Create and manage bare metal","name":"bare metal"}],"definitions":{"ProfileResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"integer","example":1},"name":{"type":"string","example":"PT Example"},"email":{"type":"string","example":"example@example.com"},"address":{"type":"string","example":"example address"},"subdomain":{"type":"string","example":"example"},"alias_domain":{"type":"string","x-nullable":true,"example":"panel.mydomain.com"},"domain":{"type":"string","example":"https:\/\/example.example.com"},"currency":{"type":"string","example":"IDR"},"logo":{"type":"string","example":"https:\/\/example.example.com\/logo.png"},"favicon":{"type":"string","x-nullable":true,"example":"https:\/\/example.example.com\/favicon.png"},"color":{"type":"string","example":"#3B82F6"},"is_sub":{"type":"boolean","example":false}}},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":1,"name":"PT Example","email":"example@example.com","address":"example address","subdomain":"example","alias_domain":"panel.mydomain.com","domain":"https:\/\/example.example.com","currency":"IDR","logo":"https:\/\/example.example.com\/logo.png","favicon":"https:\/\/example.example.com\/favicon.png","color":"#3B82F6","is_sub":false},"message":"Success"}},"BalanceResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"currency":{"type":"string","example":"IDR"},"balance":{"type":"string","example":"10000000.00"}}},"message":{"type":"string","example":"Success"}}},"DomainExtension":{"type":"object","properties":{"id":{"type":"integer"},"extension":{"type":"string","example":".co.id"},"status":{"type":"integer"},"status_label":{"type":"string","example":"Active"},"status_badge":{"type":"string","example":"success"},"sell_option":{"type":"integer"},"enable_whois_protection":{"type":"integer"},"enable_whois_protection_label":{"type":"string"},"enable_whois_protection_badge":{"type":"string"},"registry_id":{"type":"integer"},"registry_name":{"type":"string","example":"Pandi"}}},"PriceItem":{"type":"object","properties":{"id":{"type":"integer"},"registry_id":{"type":"integer","x-nullable":true},"domain_extension":{"$ref":"#\/definitions\/DomainExtension"},"currency":{"type":"string","example":"IDR"},"registration":{"type":"object","additionalProperties":{"type":"number"}},"renewal":{"type":"object","description":"Per-period renewal prices; values may be number or string depending on extension.","additionalProperties":true},"transfer":{"type":"string","example":"100000.00"},"redemption":{"type":"string","example":"100000.00"},"proxy":{"type":"string","example":"100000.00"}}},"PricesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/definitions\/PriceItem"}},"links":{"$ref":"#\/definitions\/PaginationLinks"},"meta":{"$ref":"#\/definitions\/PaginationMeta"}},"example":{"data":[{"id":71,"registry_id":null,"domain_extension":{"id":1,"extension":".co.id","status":1,"status_label":"Active","status_badge":"success","sell_option":1,"enable_whois_protection":0,"enable_whois_protection_label":"Inactive","enable_whois_protection_badge":"secondary","registry_id":1,"registry_name":"Pandi"},"currency":"IDR","registration":{"1":100000,"2":200000,"3":300000,"4":400000,"5":500000,"6":600000,"7":700000,"8":800000,"9":900000,"10":1000000},"renewal":{"1":"110000","2":"220000","3":"330000","4":"440000","5":"550000","6":"660000","7":"770000","8":"880000","9":"990000","10":"1100000"},"transfer":"100000.00","redemption":"100000.00","proxy":"100000.00"},{"id":72,"registry_id":null,"domain_extension":{"id":2,"extension":".or.id","status":1,"status_label":"Active","status_badge":"success","sell_option":1,"enable_whois_protection":0,"enable_whois_protection_label":"Inactive","enable_whois_protection_badge":"secondary","registry_id":1,"registry_name":"Pandi"},"currency":"IDR","registration":{"1":45000,"2":90000,"3":135000,"4":180000,"5":225000,"6":270000,"7":315000,"8":360000,"9":405000,"10":450000},"renewal":{"1":45000,"2":90000,"3":135000,"4":180000,"5":225000,"6":270000,"7":315000,"8":360000,"9":405000,"10":450000},"transfer":"45000.00","redemption":"200000.00","proxy":"100000.00"}],"links":{"first":"http:\/\/example.com\/v1\/account\/prices?page=1","last":"http:\/\/example.com\/v1\/account\/prices?page=2","prev":null,"next":"http:\/\/example.com\/v1\/account\/prices?page=2"},"meta":{"current_page":1,"from":1,"last_page":2,"links":[{"url":null,"label":"&laquo; Previous","page":null,"active":false},{"url":"http:\/\/example.com\/v1\/account\/prices?page=1","label":"1","page":1,"active":true},{"url":"http:\/\/example.com\/v1\/account\/prices?page=2","label":"2","page":2,"active":false},{"url":"http:\/\/example.com\/v1\/account\/prices?page=2","label":"Next &raquo;","page":2,"active":false}],"path":"http:\/\/example.com\/v1\/account\/prices","per_page":10,"to":10,"total":20}}},"PriceDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/PriceItem"},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":71,"registry_id":null,"domain_extension":{"id":1,"extension":".co.id","status":1,"status_label":"Active","status_badge":"success","sell_option":1,"enable_whois_protection":0,"enable_whois_protection_label":"Inactive","enable_whois_protection_badge":"secondary","registry_id":1,"registry_name":"Pandi"},"currency":"IDR","registration":{"1":100000,"2":200000,"3":300000,"4":400000,"5":500000,"6":600000,"7":700000,"8":800000,"9":900000,"10":1000000},"renewal":{"1":"110000","2":"220000","3":"330000","4":"440000","5":"550000","6":"660000","7":"770000","8":"880000","9":"990000","10":"1100000"},"transfer":"100000.00","redemption":"100000.00","proxy":"100000.00"},"message":"Success"}},"TransactionItem":{"type":"object","properties":{"id":{"type":"integer"},"reseller_id":{"type":"integer"},"subreseller_id":{"type":"integer","x-nullable":true},"type":{"type":"integer"},"type_label":{"type":"string","example":"Renew"},"description":{"type":"string"},"direction":{"type":"string","example":"Debit"},"currency":{"type":"string","example":"IDR"},"amount":{"type":"string"},"period":{"type":"integer"},"note":{"type":"string","x-nullable":true},"closing_balance":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"TransactionsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/definitions\/TransactionItem"}},"links":{"$ref":"#\/definitions\/PaginationLinks"},"meta":{"$ref":"#\/definitions\/PaginationMeta"}},"example":{"data":[{"id":252595,"reseller_id":3,"subreseller_id":null,"type":2,"type_label":"Renew","description":"Renew contoh-domain.my.id for 1 year","direction":"Debit","currency":"IDR","amount":"11000.00","period":1,"note":null,"closing_balance":553324889,"created_at":"2026-04-13T06:02:02.000000Z","updated_at":"2026-04-13T06:02:02.000000Z"},{"id":252594,"reseller_id":3,"subreseller_id":null,"type":1,"type_label":"Register","description":"Register contoh-domain.my.id for 1 year","direction":"Debit","currency":"IDR","amount":"10000.00","period":1,"note":null,"closing_balance":553335889,"created_at":"2026-04-13T05:39:17.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"}],"links":{"first":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=1","last":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=126163","prev":null,"next":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=2"},"meta":{"current_page":1,"from":1,"last_page":126163,"links":[{"url":null,"label":"&laquo; Previous","page":null,"active":false},{"url":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=1","label":"1","page":1,"active":true},{"url":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=2","label":"2","page":2,"active":false},{"url":null,"label":"...","active":false},{"url":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=126162","label":"100","page":100,"active":false},{"url":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=126163","label":"101","page":101,"active":false},{"url":"http:\/\/example.com\/v1\/account\/transactions?date_range=2021-06-29_2026-07-29&limit=2&page=2","label":"Next &raquo;","page":2,"active":false}],"path":"http:\/\/example.com\/v1\/account\/transactions","per_page":2,"to":2,"total":101}}},"TransactionDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/TransactionItem"},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":252594,"reseller_id":3,"subreseller_id":null,"type":1,"type_label":"Register","description":"Register contoh-domain.my.id for 1 year","direction":"Debit","currency":"IDR","amount":"10000.00","period":1,"note":null,"closing_balance":553335889,"created_at":"2026-04-13T05:39:17.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"},"message":"Success"}},"CustomerItem":{"type":"object","properties":{"id":{"type":"integer","example":70},"name":{"type":"string","example":"Doe Jane"},"email":{"type":"string","format":"email","example":"doe.jane@example.com"},"organization":{"type":"string","example":"Organization"},"street_1":{"type":"string","example":"Yogyakarta"},"street_2":{"type":"string","x-nullable":true},"city":{"type":"string","example":"Yogyakarta"},"state":{"type":"string","example":"DI Yogyakarta"},"country":{"type":"string","example":"Indonesia"},"country_code":{"type":"string","example":"ID"},"postal_code":{"type":"string","example":"123123"},"voice":{"type":"string","example":"65894534565656"},"fax":{"type":"string","x-nullable":true},"is_2fa_enabled":{"type":"boolean","example":false},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"CustomerListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/definitions\/CustomerItem"}},"links":{"$ref":"#\/definitions\/PaginationLinks"},"meta":{"$ref":"#\/definitions\/PaginationMeta"}},"example":{"data":[{"id":73,"name":"Jhon Doe","email":"jhon.doecom@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"62123123123","fax":"","is_2fa_enabled":false,"created_at":"2026-02-06T04:26:44.000000Z","updated_at":"2026-03-12T02:51:16.000000Z"},{"id":70,"name":"Doe Jane","email":"doe.jane@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"65894534565656","fax":null,"is_2fa_enabled":false,"created_at":"2025-12-01T08:03:29.000000Z","updated_at":"2025-12-01T08:03:29.000000Z"}],"links":{"first":"http:\/\/example.com\/v1\/customers?page=1","last":"http:\/\/example.com\/v1\/customers?page=3","prev":null,"next":"http:\/\/example.com\/v1\/customers?page=2"},"meta":{"current_page":1,"from":1,"last_page":3,"links":[{"url":null,"label":"&laquo; Previous","page":null,"active":false},{"url":"http:\/\/example.com\/v1\/customers?page=1","label":"1","page":1,"active":true},{"url":"http:\/\/example.com\/v1\/customers?page=2","label":"2","page":2,"active":false},{"url":"http:\/\/example.com\/v1\/customers?page=3","label":"3","page":3,"active":false},{"url":"http:\/\/example.com\/v1\/customers?page=2","label":"Next &raquo;","page":2,"active":false}],"path":"http:\/\/example.com\/v1\/customers","per_page":10,"to":10,"total":26}}},"PaginationPageLink":{"type":"object","properties":{"url":{"type":"string","x-nullable":true},"label":{"type":"string"},"page":{"type":"integer","x-nullable":true},"active":{"type":"boolean"}}},"PaginationLinks":{"type":"object","properties":{"first":{"type":"string"},"last":{"type":"string"},"prev":{"type":"string","x-nullable":true},"next":{"type":"string","x-nullable":true}}},"PaginationMeta":{"type":"object","properties":{"current_page":{"type":"integer"},"from":{"type":"integer"},"last_page":{"type":"integer"},"links":{"type":"array","items":{"$ref":"#\/definitions\/PaginationPageLink"}},"path":{"type":"string"},"per_page":{"type":"integer"},"to":{"type":"integer"},"total":{"type":"integer"}}},"CustomerShowResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/CustomerItem"},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":70,"name":"Doe Jane","email":"doe.jane@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"65894534565656","fax":null,"is_2fa_enabled":false,"created_at":"2025-12-01T08:03:29.000000Z","updated_at":"2025-12-01T08:03:29.000000Z"},"message":"Success"}},"CustomerCreateResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/CustomerItem"},"message":{"type":"string","example":"Customer created successfully"}},"example":{"success":true,"data":{"id":74,"name":"Doe Jane","email":"doe.jane@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"0856123123","fax":"123-123-123","is_2fa_enabled":false,"created_at":"2026-04-13T04:20:01.000000Z","updated_at":"2026-04-13T04:20:01.000000Z"},"message":"Customer created successfully"}},"CustomerDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"string","example":""},"message":{"type":"string","example":"Customer deleted successfully"}},"example":{"success":true,"data":"","message":"Customer deleted successfully"}},"ContactItem":{"type":"object","properties":{"id":{"type":"integer","example":509},"contact_id":{"type":"string","example":"123"},"label":{"type":"string","example":"Default"},"name":{"type":"string","example":"Joshua Marks"},"email":{"type":"string","format":"email","example":"joshua.marks@example.com"},"organization":{"type":"string","example":"Organization"},"street_1":{"type":"string","example":"Yogyakarta"},"street_2":{"type":"string","x-nullable":true},"city":{"type":"string","example":"Yogyakarta"},"state":{"type":"string","example":"DI Yogyakarta"},"country":{"type":"string","example":"Indonesia"},"country_code":{"type":"string","example":"ID"},"postal_code":{"type":"string","example":"123123"},"voice":{"type":"string","example":"62123123123"},"fax":{"type":"string","example":""},"status":{"type":"integer","x-nullable":true},"status_label":{"type":"string","example":"Success"},"pending_change":{"type":"boolean","x-nullable":true},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"ContactListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/definitions\/ContactItem"}},"links":{"$ref":"#\/definitions\/PaginationLinks"},"meta":{"$ref":"#\/definitions\/PaginationMeta"}},"example":{"data":[{"id":509,"contact_id":"123","label":"Default","name":"Joshua Marks","email":"joshua.marks@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"62123123123","fax":"","status":0,"status_label":"Success","pending_change":null,"created_at":"2026-04-13T04:20:01.000000Z","updated_at":"2026-04-13T04:20:01.000000Z"},{"id":526,"contact_id":"124","label":"Default","name":"Doe Jane","email":"doe.jane@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"62123123123","fax":"","status":1,"status_label":"Success","pending_change":null,"created_at":"2026-02-05T21:26:44.000000Z","updated_at":"2026-03-12T02:51:17.000000Z"}],"links":{"first":"http:\/\/example.com\/v1\/customers\/73\/contacts?customer_id=73&page=1","last":"http:\/\/example.com\/v1\/customers\/73\/contacts?customer_id=73&page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo; Previous","page":null,"active":false},{"url":"http:\/\/example.com\/v1\/customers\/73\/contacts?customer_id=73&page=1","label":"1","page":1,"active":true},{"url":null,"label":"Next &raquo;","page":null,"active":false}],"path":"http:\/\/example.com\/v1\/customers\/73\/contacts","per_page":10,"to":2,"total":2}}},"ContactShowResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/ContactItem"},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":509,"contact_id":"123","label":"Default","name":"Joshua Marks","email":"joshua.marks@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"62123123123","fax":"","status":0,"status_label":"Success","pending_change":null,"created_at":"2026-04-13T04:20:01.000000Z","updated_at":"2026-04-13T04:20:01.000000Z"},"message":"Success"}},"ContactCreateResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#\/definitions\/ContactItem"},"message":{"type":"string","example":"Contact created successfully"}},"example":{"success":true,"data":{"id":529,"contact_id":"LOCqk6U09XT4CkLd","label":"Billing","name":"Jhon Doe","email":"jhon.doe@example.com","organization":"Organization","street_1":"Yogyakarta","street_2":null,"city":"Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"08561234567","fax":"123-123-123","status":null,"status_label":"Success","pending_change":false,"created_at":"2026-04-13T04:38:33.000000Z","updated_at":"2026-04-13T04:38:33.000000Z"},"message":"Contact created successfully"}},"ContactDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"string","example":""},"message":{"type":"string","example":"Contact deleted successfully"}},"example":{"success":true,"data":"","message":"Contact deleted successfully"}},"ValidationErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"example":{"success":false,"message":"The password confirmation and password must match.","errors":{"password_confirmation":["The password confirmation and password must match."]}}},"DomainSummaryItem":{"type":"object","properties":{"id":{"type":"integer","example":267},"name":{"type":"string","example":"mydomain.com"},"status":{"type":"integer","example":1},"status_label":{"type":"string","example":"Active"},"status_badge":{"type":"string","example":"success"},"status_reason":{"type":"string","x-nullable":true},"verification_status":{"type":"integer","example":0},"verification_status_label":{"type":"string","example":"Waiting"},"verification_status_badge":{"type":"string","example":"secondary"},"is_premium":{"type":"integer","example":0},"is_locked":{"type":"integer","example":1},"is_locked_label":{"type":"string","example":"Locked"},"is_locked_badge":{"type":"string","example":"success"},"is_registrar_locked":{"type":"integer","example":0},"is_registrar_locked_label":{"type":"string","example":"Unlock"},"is_registrar_locked_badge":{"type":"string","example":"danger"},"reseller_id":{"type":"integer","example":3},"nameserver_1":{"type":"string"},"nameserver_2":{"type":"string"},"nameserver_3":{"type":"string","x-nullable":true},"nameserver_4":{"type":"string","x-nullable":true},"nameserver_5":{"type":"string","x-nullable":true},"notes":{"type":"string","x-nullable":true},"expired_at":{"type":"string","example":"2027-03-31"},"created_at":{"type":"string","format":"date-time"}}},"DomainListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/definitions\/DomainSummaryItem"}},"links":{"$ref":"#\/definitions\/PaginationLinks"},"meta":{"$ref":"#\/definitions\/PaginationMeta"}},"example":{"data":[{"id":267,"name":"mydomain.com","status":1,"status_label":"Active","status_badge":"success","status_reason":null,"verification_status":0,"verification_status_label":"Waiting","verification_status_badge":"secondary","is_premium":0,"is_locked":1,"is_locked_label":"Locked","is_locked_badge":"success","is_registrar_locked":0,"is_registrar_locked_label":"Unlock","is_registrar_locked_badge":"danger","reseller_id":3,"nameserver_1":"ns1.example.com","nameserver_2":"ns2.example.com","nameserver_3":"ns3.example.com","nameserver_4":null,"nameserver_5":null,"notes":null,"expired_at":"2027-03-31","created_at":"2026-03-31T04:00:33.000000Z"},{"id":266,"name":"domain-rdash.com","status":1,"status_label":"Active","status_badge":"success","status_reason":null,"verification_status":0,"verification_status_label":"Waiting","verification_status_badge":"secondary","is_premium":0,"is_locked":1,"is_locked_label":"Locked","is_locked_badge":"success","is_registrar_locked":0,"is_registrar_locked_label":"Unlock","is_registrar_locked_badge":"danger","reseller_id":3,"nameserver_1":"ns1.example.com","nameserver_2":"ns2.example.com","nameserver_3":"ns3.example.com","nameserver_4":null,"nameserver_5":null,"notes":null,"expired_at":"2027-03-31","created_at":"2026-03-31T03:36:36.000000Z"}],"links":{"first":"http:\/\/example.com\/v1\/domains?page=1","last":"http:\/\/example.com\/v1\/domains?page=16","prev":null,"next":"http:\/\/example.com\/v1\/domains?page=2"},"meta":{"current_page":1,"from":1,"last_page":16,"links":[{"url":null,"label":"&laquo; Previous","page":null,"active":false},{"url":"http:\/\/example.com\/v1\/domains?page=1","label":"1","page":1,"active":true},{"url":"http:\/\/example.com\/v1\/domains?page=2","label":"2","page":2,"active":false},{"url":"http:\/\/example.com\/v1\/domains?page=3","label":"3","page":3,"active":false},{"url":"http:\/\/example.com\/v1\/domains?page=4","label":"4","page":4,"active":false},{"url":"http:\/\/example.com\/v1\/domains?page=2","label":"Next &raquo;","page":2,"active":false}],"path":"http:\/\/example.com\/v1\/domains","per_page":10,"to":10,"total":10}}},"DomainDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object"},"message":{"type":"string","example":"Success"}},"example":{"success":true,"data":{"id":269,"name":"contoh-domain.my.id","nameserver_1":"ns1.rdash.id","nameserver_2":"ns2.rdash.id","nameserver_3":null,"nameserver_4":null,"nameserver_5":null,"customer":{"id":9,"name":"Customer","email":"example@example.com","organization":"Organization","street_1":"yogyakarta","street_2":"Yogyakarta","city":"Kota Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"123123123","fax":"123123123","is_2fa_enabled":false,"created_at":"2022-09-01T07:36:59.000000Z","updated_at":"2025-05-28T01:43:18.000000Z"},"admin_contact":{"id":531,"contact_id":"LOCXpD9dOQfHLyiX","label":"Default","name":"Customer","email":"example@example.com","organization":"Organization","street_1":"yogyakarta","street_2":"Yogyakarta","city":"Kota Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"123123123","fax":"123123123","status":1,"status_label":"Success","pending_change":false,"created_at":"2022-09-01T00:36:59.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"},"billing_contact":{"id":531,"contact_id":"LOCXpD9dOQfHLyiX","label":"Default","name":"Customer","email":"example@example.com","organization":"Organization","street_1":"yogyakarta","street_2":"Yogyakarta","city":"Kota Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"123123123","fax":"123123123","status":1,"status_label":"Success","pending_change":false,"created_at":"2022-09-01T00:36:59.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"},"tech_contact":{"id":531,"contact_id":"LOCXpD9dOQfHLyiX","label":"Default","name":"Customer","email":"example@example.com","organization":"Organization","street_1":"yogyakarta","street_2":"Yogyakarta","city":"Kota Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"123123123","fax":"123123123","status":1,"status_label":"Success","pending_change":false,"created_at":"2022-09-01T00:36:59.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"},"registrant_contact":{"id":531,"contact_id":"LOCXpD9dOQfHLyiX","label":"Default","name":"Customer","email":"example@example.com","organization":"Organization","street_1":"yogyakarta","street_2":"Yogyakarta","city":"Kota Yogyakarta","state":"DI Yogyakarta","country":"Indonesia","country_code":"ID","postal_code":"123123","voice":"123123123","fax":"123123123","status":1,"status_label":"Success","pending_change":false,"created_at":"2022-09-01T00:36:59.000000Z","updated_at":"2026-04-13T05:39:17.000000Z"},"status":1,"status_label":"Active","status_badge":"success","status_reason":null,"verification_status":0,"verification_status_label":"Waiting","verification_status_badge":"secondary","is_premium":0,"is_locked":0,"is_locked_label":"Unlock","is_locked_badge":"danger","is_registrar_locked":0,"is_registrar_locked_label":"Unlock","is_registrar_locked_badge":"danger","whois_protection":0,"whois_protection_label":"Inactive","whois_protection_badge":"secondary","whois_protection_allowed":0,"whois_protection_purchased":0,"whois_protection_expired":true,"is_required_document":0,"is_refundable":true,"provisioning":"On","provisioning_badge":"success","provisioning_type":"Register","token":"2kWZTAkZAb8ai7vlyAa1Ypv1430AEdMdGC7aO9L0QcaXj","notes":null,"tld":".my.id","reg":"pandi","expired_at":"2027-04-13","created_at":"2026-04-13T05:39:17.000000Z","updated_at":"2026-04-13T05:39:18.000000Z"},"message":"Success"}},"DomainSimpleResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data"
[...]
